
     body {
        background-color: #20c997;
      }
      h1 {
        color:powderblue;
      }
      .card
      {
          background-color: powderblue;
      }
      #addBtn
      {
        background-color:#198754; 
      }

    
